<!-- Form Layout -->
<form [formGroup]='userForm' (ngSubmit)='inscription()'>
<div class="card">
  <div class="card-body">
    <h4 class="mb-32">Inscription</h4>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput type="text" placeholder="Entrez le nom" formControlName="nom">
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Prenom</mat-label>
        <input matInput type="text"  placeholder="Entrez le prenom" formControlName="prenom">
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Entrez l'email" formControlName="email">
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Login</mat-label>
        <input matInput type="email" placeholder="Entrez le login" formControlName="login">
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Entrez le mot de passe"  formControlName="password">
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Télephone</mat-label>
        <input matInput type="text" placeholder="Entrez le téléphone" formControlName="telephone">
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Date de naissance</mat-label>
        <input matInput placeholder="Date" [matDatepicker]="picker"   formControlName="dateNaissance"(focus)="picker.open()" readonly>
      </mat-form-field> 
      <mat-datepicker #picker></mat-datepicker>

      
      <mat-radio-group color="primary" class="fs-16" aria-label="Select an option"  formControlName="profil">
        <mat-label class="text-secondary">Profil</mat-label>
        <mat-radio-button value="1" class="d-block mb-16" [checked]="checked">Collaborateur</mat-radio-button>
        <mat-radio-button value="0" class="d-block mb-36">Manager</mat-radio-button>
      </mat-radio-group>
      <button mat-button class="btn btn-info fw-normal" type="submit">Submit</button>
  </div>
</div>

</form>