<div>
    <div align="center">
      <button mat-fab class="mb-8 me-8"  (click)="decreaseMonth()" ><<</button>
      <button mat-raised-button class="me-8 mb-8" (click)="setCurrentMonth()">Aujourd'hui</button>
      <button mat-fab class="mb-8 me-8"  (click)="increaseMonth()" >>></button>
    </div>
  </div>
  
  <table class='calendar-table' *ngIf="calendar">
    <thead>
      <tr style="background-color: #fb9678;">
        <th>Lundi</th>
        <th>Mardi</th>
        <th>Mercredi</th>
        <th>Jeudi</th>
        <th>Vendredi</th>
        <th>Samedi</th>
        <th>Dimanche</th>
      </tr>
    </thead>
    <tbody style="background-color: #fb96;">
      <tr *ngFor="let row of calendar | chunk: 7; let i = index" >
        <td class="calendar-day" [ngClass]="{'past-date': c.isPastDate, 'today': c.isToday}" *ngFor="let c of row; let j = index">
          <div class="calendar-day-header" [ngClass]="{'blue-date': c.isToday}"><strong>{{c.date.getDate()}}</strong> <strong *ngIf="c.isToday || (i==0 && j==0) || (c.date.getDate() == 1)"><br> {{monthNames[c.date.getMonth()]}} </strong><br>{{c.title}}</div>
        </td>
      </tr>
    </tbody>
  </table>